
body {
    background-color: black;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    
}

header {
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
    background:black;
    color:whitesmoke;

}

header .logo {
    font-size: 1.5rem;
    font-weight: bold;
}

header nav {
    list-style: none;
    display: flex;
    gap: 1rem;
}

header nav a {
    color: gray;
    text-decoration: none;
}

header nav a:hover{
    color: red;
}

#hero {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    padding: 5rem 2rem;
    color: #fff;
    line-height: 95px;
    height: auto;
}

#hero p{
    line-height: 30px;
}

#hero text {
    text-align: center;
}

#hero img{
    height: 500px;
    width:500px
}

#hero h1 {
    font-size: 5rem;
    color: red;
    font-weight: bolder;
}

#hero .button {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.8rem 3rem;
    background:red;
    border-color: red;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;

    font-weight: bold;
    border: none;
    align-items: center;
    cursor: pointer;
}


#about {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 7rem;
    text-align: center;
    background-color: #333;
    color: #fff;
}

#about img{
    width: 500px;
    height: 400px;
    border-radius: 10px;
}

.about_us h2{
    text-decoration: underline;
}

.about_us p{
    text-align: justify;
    padding-left: 200px;
    padding-right: 80px;
    padding-top: 30px;
    font-size: 18px;
    color: grey;
}

#products{

    margin-left: 2%;
    margin-right: 2%;
    margin-top: 3%;
    margin-bottom: 3rem; 
    padding: 3%;

}

#products h2{
    color: whitesmoke;
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
    text-align: center;
}

.flex_container{

    padding-top: 2%;
    flex-direction: row;
    height: auto;
    width: auto;
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
    border-radius: 10px;
    
}

.prod1{
    background-color: #333;
    text-align: center;
    padding-bottom: 1rem;
}

.prod1 img{
    
    width: 320px;
    height: 200px;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.prod1 img:hover{
    transform: scale(1.1);
}

.prod1 h4{
    color: whitesmoke;
    margin: 1rem 0;
}

.prod1 button{
    display:inline-block;
    color: whitesmoke;
    margin-top: 1rem;
    font-weight: bold;
    background-color: red;
    border-radius: 5px;
    border: none;
    padding: 0.5rem 1rem;
    align-items: center;
    cursor: pointer;
}

footer{
    background-color: #2d2d2d;
    padding: 2%;
    height: auto;
    width: auto;

}
.contact h2{
    color: white;
    font-size: 30;
    margin-bottom: 10;
}
#contactitem {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start;
    text-align: left;
    margin-bottom: 20px;
}
#contactitem h4{
    color: white;
}

#contactitem a{
    text-decoration: none;
    color: unset;
    color: grey;
}
footer nav{
    display: flex; 
    justify-content: right;
    gap: 25px;
    padding: 10px;
    margin-right: 30;
    margin-bottom: 30;

}
.contact button{
    background-color: black;
    border-color: #ff0000;
    color: white;
    height: 40px;
    width: 150px;
    border-radius: 10px;
    font-size: 15;

   
}
#click {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 5;
    margin-right: 60;
}

#copy p{
    color: #fff;
}

@media (max-width: 1300px) {
    body {
        font-size: 14px;
        line-height: 1.4;
    }

    header {
        flex-direction: column;
        text-align: center;
        justify-content: center;

    }

    

    header nav {
        flex-direction: row;
        gap: 0.5rem;
        justify-content: center;
        
    }

    #hero {
        flex-direction: column;
        padding: 2rem;
    }

    #hero img {
        display: none;
        width: 100%;
        height: auto;
    }

    #hero h1 {
        font-size: 3rem;
        line-height: normal;
        margin-top: 55px;
    }

    #about {
        flex-direction: column;
        padding: 2rem;
    }

    #about img {
        width: 100%;
        height: auto;
    }

    .about_us p {
        padding: 1rem;
    }

    .flex_container {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .prod1 img {
        width: 100%;
        height: auto;
    }

    footer nav {
        flex-direction: row;
        gap: 10px;
        margin: 0;
    }

    #contactitem {
        flex-direction: column;
        gap: 1rem;
        text-align: left;
    }
    footer {
        padding: 5%;
    }
}

@media (max-width: 320px){
    .flex_container{
        grid-template-columns: repeat(1,1fr);
    }
}

/* @media screen and (max-width: 1800px) {
    header {
        justify-content: center; 
        padding: 1.5rem 4rem; 
    }

    #hero h1 {
        font-size: 4rem;
    }

    #hero img {
        width: 400px; 
        height: 400px; 
    }

    .about_us p {
        padding: 0 100px; 
    }
} */

/*
@media (max-width: 768px){
    #about {
        flex-direction: column;
        /* justify-content: space-evenly; */
        /*padding: 2rem;
        text-align: center;
    }

    #about img{
            width: 100%;
            height: auto;
    }   
    .hero-image {
        display: none;
    }
    #hero h1 {
        font-size: 3rem;
        
    }
    .about_us p{
        text-align: justify;
        /* padding-left: 400px;
        padding-right: 60px;
        padding-top: 20px; */
        /*font-size: 16px;
        
    }
    .prod1 img{
    
        width: 260px;
        height: 100px;
        border-radius: 8px;
    }

        


}

/*
@media screen and (max-width: 600px) {

    
    #hero {
        padding: 4rem 2rem;
    }
    #hero-image{
        display: none;
    }

    #about {
        flex-direction: column;
        align-items: center;
    }

    }
    .about_us p{
        padding-left: 50px;
        padding-right: 30px;
    }

    .flex_container {
        flex-direction: row;
        grid-template-columns: repeat(4, 1fr);
    }
    .prod1 img{
        width: 260px;
        height: 100px;
    }

    #contactitem {
        flex-direction: column;
    }

    footer {
        padding: 5%;
    }

    header nav ul {
        gap: 1.5rem;
    }
}*/

/*
@media screen and (max-width: 1024px) {
    header nav ul {
        gap: 2rem;
    }

    #hero {
        padding: 6rem 4rem;
    }

    #about {
        flex-direction: row;
        justify-content: space-between;
    }

    .flex_container {
        grid-template-columns: repeat(4, 1fr);
    }

    footer {
        padding: 3% 10%;
    }

    .prod1 img {
        width: 380px;
        height: 220px;
    }

    .about_us p {
        padding-left: 100px;
        padding-right: 100px;
    }

    .contact button {
        font-size: 18px;
    }
}*/







